div.thumb{float:left;margin:4px;width:160px;position:relative;}
div.thumb-img{position:relative;border:6px solid #ccc;}
div.thumb-img:hover{border:6px solid #999;}
div.thumb > i{font-size:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);color:#eee;z-index:100;}
div.thumb > i:hover{color:#aaa;}


.flashbox{width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:999999999999999;background:rgba(0,0,0,0.9);margin:0px;}
.flashbox-container{text-align:center;}

.playlist{position:fixed;right:0px;top:0px;width:300px;text-align:left;padding:8px;}
.playlist-item{background:#fff;margin-bottom:8px;padding:8px;}
.playlist-item:after{clear:both;display:block;content:' ';}
.playlist-item span{float:left;clear:both;font-size:10px;padding:4px;width:180px;overflow:hidden;}
.playlist img{width:60px;float:left;position:relative;top:0px;display:block;}